body {
    background-color: darkslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-fill-color: rgb(224, 224, 201);
    margin-left: 25px;
    margin-top: 10%;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 90%;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 50%;
    justify-content: center;
    margin-bottom: 2.5em;
}

p {
    justify-content: center;
    
}

.about-me-four {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 5fr 5fr 5fr;
    align-items: center;
    justify-content: center;
}

h5 {
    font-size: smaller;
    padding-bottom: 100px;
}

footer {
    font-size: x-small
}