body {
    background-color: darkslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-fill-color: rgb(224, 224, 201);
    margin-left: 25px;
    margin-top: 10%;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 90%;
    text-align: center;
}

.about-me-three {
    margin: 1%;
    text-align: center;
}

.about-me-four {
    margin: 5%;
    display: table;
    text-align: center;
}

.footer {
    font-size: x-small
}